<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BringsAllWindowsToFront</key>
	<true/>
	<key>CreatesNewDocumentIfNone</key>
	<true/>
	<key>DefaultHotkeyDefForAnApplication</key>
	<array>
		<dict>
			<key>Alt</key>
			<false/>
			<key>Cmd</key>
			<true/>
			<key>Ctrl</key>
			<false/>
			<key>KeyName</key>
			<string>M</string>
			<key>PseudoEventType</key>
			<integer>-1</integer>
			<key>Shift</key>
			<false/>
		</dict>
		<dict>
			<key>Alt</key>
			<false/>
			<key>Cmd</key>
			<true/>
			<key>Ctrl</key>
			<false/>
			<key>KeyName</key>
			<string>M</string>
			<key>PseudoEventType</key>
			<integer>-1</integer>
			<key>Shift</key>
			<false/>
		</dict>
		<dict>
			<key>Alt</key>
			<false/>
			<key>Cmd</key>
			<true/>
			<key>Ctrl</key>
			<false/>
			<key>KeyName</key>
			<string>M</string>
			<key>PseudoEventType</key>
			<integer>-1</integer>
			<key>Shift</key>
			<false/>
		</dict>
		<dict>
			<key>Alt</key>
			<false/>
			<key>Cmd</key>
			<true/>
			<key>Ctrl</key>
			<false/>
			<key>KeyName</key>
			<string>M</string>
			<key>PseudoEventType</key>
			<integer>-1</integer>
			<key>Shift</key>
			<false/>
		</dict>
		<dict>
			<key>Alt</key>
			<false/>
			<key>Cmd</key>
			<true/>
			<key>Ctrl</key>
			<false/>
			<key>KeyName</key>
			<string>M</string>
			<key>PseudoEventType</key>
			<integer>-1</integer>
			<key>Shift</key>
			<false/>
		</dict>
		<dict>
			<key>Alt</key>
			<false/>
			<key>Cmd</key>
			<true/>
			<key>Ctrl</key>
			<false/>
			<key>KeyName</key>
			<string>M</string>
			<key>PseudoEventType</key>
			<integer>-1</integer>
			<key>Shift</key>
			<false/>
		</dict>
	</array>
	<key>EventKeyDefs</key>
	<dict>
		<key>_Global</key>
		<array>
			<dict>
				<key>Alt</key>
				<false/>
				<key>Cmd</key>
				<true/>
				<key>Ctrl</key>
				<false/>
				<key>KeyName</key>
				<string>H</string>
				<key>PseudoEventType</key>
				<integer>1</integer>
				<key>Shift</key>
				<false/>
			</dict>
			<dict>
				<key>Alt</key>
				<false/>
				<key>Cmd</key>
				<true/>
				<key>Ctrl</key>
				<false/>
				<key>KeyName</key>
				<string>[</string>
				<key>PseudoEventType</key>
				<integer>1</integer>
				<key>Shift</key>
				<false/>
			</dict>
			<dict>
				<key>Alt</key>
				<false/>
				<key>Cmd</key>
				<true/>
				<key>Ctrl</key>
				<false/>
				<key>KeyName</key>
				<string>O</string>
				<key>PseudoEventType</key>
				<integer>1</integer>
				<key>Shift</key>
				<false/>
			</dict>
			<dict>
				<key>Alt</key>
				<false/>
				<key>Cmd</key>
				<true/>
				<key>Ctrl</key>
				<false/>
				<key>KeyName</key>
				<string>M</string>
				<key>PseudoEventType</key>
				<integer>1</integer>
				<key>Shift</key>
				<false/>
			</dict>
			<dict>
				<key>Alt</key>
				<false/>
				<key>Cmd</key>
				<true/>
				<key>Ctrl</key>
				<false/>
				<key>KeyName</key>
				<string>M</string>
				<key>PseudoEventType</key>
				<integer>0</integer>
				<key>Shift</key>
				<false/>
			</dict>
			<dict>
				<key>Alt</key>
				<false/>
				<key>Cmd</key>
				<true/>
				<key>Ctrl</key>
				<false/>
				<key>KeyName</key>
				<string>M</string>
				<key>PseudoEventType</key>
				<integer>0</integer>
				<key>Shift</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>GestureSizeMin</key>
	<integer>16</integer>
	<key>NotifWindowPosition</key>
	<integer>0</integer>
	<key>ShowStatusBarMenu</key>
	<true/>
	<key>UsePollingToTrackPointer</key>
	<true/>
</dict>
</plist>
